In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Mountains.csv')

In [75]:
counts_ = data['Parent mountain'].value_counts()

In [79]:
counts_pm.loc[counts_pm > 3]

Mount Everest    9
Gasherbrum I     8
Kangchenjunga    7
Cho Oyu          7
K2               5
Distaghil Sar    5
Shisha Pangma    4
Dhaulagiri       4
Name: Parent mountain, dtype: int64

In [76]:
counts_pm_df = pd.DataFrame(counts_pm)

In [77]:
counts_pm_df[ counts_pm_df['Parent mountain'] > 3]

               Parent mountain
Mount Everest                9
Gasherbrum I                 8
Kangchenjunga                7
Cho Oyu                      7
K2                           5
Distaghil Sar                5
Shisha Pangma                4
Dhaulagiri                   4