### Подключаем библиотеки

In [1]:
import pandas as pd

### Считываем данные

In [2]:
data = pd.read_csv("adult.csv")

### Просматриваем загруженные данные

In [3]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
data['relationship'].value_counts()

Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: relationship, dtype: int64

### Выбираем столбцы, с которыми будем работать

In [6]:
selected_columns  = data[['age', 'workclass', 'educational-num', 'race', 'gender', 'capital-loss', 'hours-per-week', 'relationship', 'income']]

### Преобразуем данные некоторых столбцов в значения 0 и 1

In [7]:
X = pd.get_dummies(selected_columns, columns = ['workclass', 'race', 'gender', 'relationship'])

### Столбец целевой переменной income, удалим из X

In [8]:
del X['income']

In [9]:
X.head()

,age,educational-num,capital-loss,hours-per-week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,...,race_Other,race_White,gender_Female,gender_Male,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife
0,25,7,0,40,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
1,38,9,0,50,0,0,0,0,1,0,...,0,1,0,1,1,0,0,0,0,0
2,28,12,0,40,0,0,1,0,0,0,...,0,1,0,1,1,0,0,0,0,0
3,44,10,0,40,0,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
4,18,10,0,30,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0

### Переведем значения целевой переменной в числа 1 или 0

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()

In [12]:
le.fit( data['income'] )

LabelEncoder()

In [13]:
le.classes_

array(['<=50K', '>50K'], dtype=object)

In [14]:
le.transform( [ '<=50K', '<=50K', '>50K' ] )

array([0, 0, 1])

In [15]:
y = pd.Series(data = le.transform(data['income']))

In [16]:
y.head(3)

0    0
1    0
2    1
dtype: int64

### Построим модель логистической регрессии, которая будет предсказывать уровень дохода.

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
model = LogisticRegression()

In [19]:
model.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [20]:
predictions = model.predict_proba(X)

In [21]:
predictions[:3]

array([[0.99516062, 0.00483938],
       [0.67124453, 0.32875547],
       [0.57480137, 0.42519863]])

### Проверим точность предсказания

In [22]:
model.score(X,y)

0.8290815281929487